# Contributions - @{{username}}

| Start Date    | End Date    |
| ------------- | ----------- |
| {{startDate}} | {{endDate}} |

## Summary

| Metric                 | Total                          | Repositories                                   |
| ---------------------- | ------------------------------ | ---------------------------------------------- |
| Commits Created        | {{summary.commits}}            | {{summary.repositoriesWithCommits}}            |
| Issues Created         | {{summary.issues}}             | {{summary.repositoriesWithIssues}}             |
| Pull Requests Created  | {{summary.pullRequests}}       | {{summary.repositoriesWithPullRequests}}       |
| Pull Requests Reviewed | {{summary.pullRequestReviews}} | {{summary.repositoriesWithPullRequestReviews}} |

## Repository Summary

| Repository Name     | Issues     | Pull Requests    | Pull Request Reviews   |
| ------------------- | ---------- | ---------------- | ---------------------- |
{{#repositories}}
| [{{name}}]({{url}}) | {{issues}} | {{pullRequests}} | {{pullRequestReviews}} |
{{/repositories}}

## Detailed Activity

### Issues

| Repository Name                     | Created Date  | Issue                              | Status     |
| ----------------------------------- | ------------- | ---------------------------------- | ---------- |
{{#issues}}
| [{{repository}}]({{repositoryUrl}}) | {{createdAt}} | [(#{{number}}) {{title}}]({{url}}) | {{status}} |
{{/issues}}

### Pull Requests

| Repository Name                     | Created Date  | Pull Request                       | Changed Files    | Status     |
| ----------------------------------- | ------------- | ---------------------------------- | ---------------- | ---------- |
{{#pullRequests}}
| [{{repository}}]({{repositoryUrl}}) | {{createdAt}} | [(#{{number}}) {{title}}]({{url}}) | {{changedFiles}} | {{status}} |
{{/pullRequests}}

### Pull Request Reviews

| Repository Name                     | Created Date  | Pull Request                       | Decision           | Status     |
| ----------------------------------- | ------------- | ---------------------------------- | ------------------ | ---------- |
{{#pullRequestReviews}}
| [{{repository}}]({{repositoryUrl}}) | {{createdAt}} | [(#{{number}}) {{title}}]({{url}}) | {{reviewDecision}} | {{status}} |
{{/pullRequestReviews}}
